* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item {
    height: 220px;
    /* opacity: 0; */
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 180px;
    z-index: 0;
    background-size: contain;
}

.gallery-item-1 {
    /* top: 35%;
    transform: translateY(-50%); */

    left: 15%;
    /* opacity: .4; */
    transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
    height: 300px;
    /* opacity: 0.8; */
    width: 250px;
    z-index: 1;
}


.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 450px;
    /* opacity: 1; */
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    /* top: 35%;
    transform: translateY(50%); */
    left: 85%;
    /* opacity: .4; */
    transform: translateX(-50%);
}

.gallery-controls {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    height: 100px;
    width: 55%;
    z-index: 3;
}

.gallery-controls button {
    background-color: transparent;
    cursor: pointer;
    border: 0.5px solid gray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

/* .gallery-controls-previous::before{
    border: solid gray;
    border-width: 0 1px 1px 0;
    content: "<";
    color: red;

    left: 0;
    padding: 10px;
    position: absolute;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
} */

/* 
.gallery-controls-previous:hover::before{
    left: -40px;
} */

.gallery-controls-next {
    position: relative;
}

/* .gallery-controls-next::before{
    border: solid gray;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
} */

/* .gallery-controls-next:hover:before{
    right: -40px;
} */

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}

/* ///////////////////////////////////////////////////////////////////// */

.icon-next,
.icon-previous {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 60px;
    /* cursor: pointer; */
}

.arrow-next,
.arrow-previous {
    position: absolute;
    top: 50%;
    width: 70%;
    height: 0.5px;
    background-color: gray;
}

.arrow-next{
    right: 50%
}

.arrow-previous{
    left: 50%
}

.arrow-next::after,
.arrow-next::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 0.5px;
    right: -3px;
    background-color: gray;
}

.arrow-previous::after,
.arrow-previous::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 0.5px;
    left: -3px;
    background-color: gray;
}

.arrow-next::after {
    top: -4px;
    transform: rotate(45deg);
}

.arrow-next::before {
    top: 4px;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

.arrow-previous::after {
    top: -4px;
    transform: rotate(-45deg);
}

.arrow-previous::before {
    top: 4px;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}

.gallery-dots{
    position: absolute;
    bottom: 80px;
    z-index: 3;
}

.gallery-dot{
    width: 10px;
    height: 10px;
    margin: 3px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.active{
    background-color: white;
}